{% extends "principal.html" %}

{% block contenido %}
<form action = "{% url 'registrar_usuario' %}" method = "post"> 
    
    {% load django_bootstrap5 %}
    {% csrf_token %} 
    {% bootstrap_form formulario %}         

    {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
</form>

<script>
    // Seleccionar los elementos del formulario
    let rol = document.querySelector('select[name="rol"]');
    let empresa = document.querySelector('input[name="empresa"]').parentElement;
    let rating = document.querySelector('input[name="rating"]').parentElement; 

    // Función para mostrar/ocultar campos
    function mostrar() {
        if (rol.value == '3') {  // '3' es el valor para "Proveedor"
            empresa.style.display = 'block'; // Mostrar el campo empresa
            rating.style.display = 'block'; // Mostrar el campo rating
        } else {
            empresa.style.display = 'none'; // Ocultar el campo empresa
            rating.style.display = 'none'; // Ocultar el campo rating
        }
    }

    // Ocultar inicialmente
    mostrar();

    // Agregar evento para cambiar campos al cambiar el rol
    rol.addEventListener('change', mostrar);
</script>


{% endblock %}