{% extends "principal.html" %}
{% block contenido %}

<h1 class="display-3">Lista de Reservas</h1>

<div class="row">
    {% for reserva in reservas_mostrar %}
        <div class="col-sm-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h2>Código de reserva: {{ reserva.codigo_reserva }}</h2>
                    <p>Fecha de salida: {{ reserva.fecha_salida|date:"d-m-Y" }}</p>
                    <p>Fecha de llegada: {{ reserva.fecha_llegada|date:"d-m-Y" }}</p>
                    <p>Número de personas: {{ reserva.numero_personas }}</p>
                    <h4>Reserva #{{ forloop.counter }}</h4>
                    <p>Precio: {{ reserva.precio|floatformat:2 }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay reservas</h1>
    {% endfor %}
</div>    

{% endblock  %}