{% extends 'principal.html' %}

{% load static %}

{% block cabecera %}
<h1>TOTAL PRECIO RESERVAS</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
    <div>
        <h2>El total de precios de todas las reservas: {{ precio_mostrar.precio__sum }} </h2>

        {% if precio_mostrar.precio__sum <= 500 %}
            <p>El total de precios está dentro de un rango accesible.</p>
        {% else %}
            <p>El total de precios está fuera de un rango accesible.</p>
        {% endif %}

    </div>
{% endblock %}
