{% extends "principal.html" %}

{% block contenido %}
<h1>Editar Transporte</h1>

<form action="{% url 'transporte_editar' transporte.id %}" method="post">
    {% load django_bootstrap5 %}
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field formulario.tipo show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.tipo.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.capacidad show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.capacidad.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.disponible show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.disponible.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.costo_por_persona show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.costo_por_persona.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.destino show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.destino.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Transporte</button>
</form>
{% endblock %}
