{% extends "principal.html" %}

{% block contenido %}
<h1>Actualizar Capacidad de Transporte</h1>

<form action="{% url 'transporte_actualizar_capacidad' transporte.id %}" method="post" enctype="multipart/form-data">
    {% load django_bootstrap5 %}
    {% csrf_token %}  <!-- Esto es para proteger el formulario contra CSRF -->
    
    <div class="mb-4">
        {% bootstrap_field formulario.capacidad show_label=True %}
    </div>

    <button type="submit" class="btn btn-warning">Actualizar Capacidad</button>
</form>
{% endblock %}
