{% extends "principal.html" %}
{% block contenido %}

  <h1 class="display-3">Lista de Transportes Mejorados</h1>

  <div class="row">
    {% for transporte in transportes_mostrar %}
      <div class="col-sm-4 mb-2">
        <div class="card">
          <div class="card-body">
            <h2>{{ transporte.tipo }} (Capacidad: {{ transporte.capacidad }})</h2>
            <p>Disponible: {% if transporte.disponible %}Sí{% else %}No{% endif %}</p>
            <p>Costo por persona: {{ transporte.costo_por_persona }}€</p>
            <h5 class="mb-3">Destinos:</h5>
            <div>
              {% for dest in transporte.destino %}
                <p><strong>{{ dest.nombre }}</strong> - {{ dest.pais }}</p>
              {% endfor %}
            </div>

            <!-- Botón para actualizar -->
            {% if request.session.token and request.session.usuario.rol == 1 or request.session.usuario.rol == 3 %}
              <a href="{% url 'transporte_editar' transporte.id %}" class="btn btn-primary mb-1">Actualizar Transporte</a>

              <!-- Botón para actualizar nombre -->
              <a href="{% url 'transporte_actualizar_capacidad' transporte.id %}" class="btn btn-warning mb-1">Actualizar Capacidad</a>
            {% endif %}

            <!-- Formulario para eliminar transporte -->
            {% if request.session.token and request.session.usuario.rol == 1 %}
              <form action="{% url 'transporte_eliminar' transporte.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" onclick="return confirmarEliminacion();">
                      Eliminar
                  </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay transportes disponibles.</p>
    {% endfor %}
  </div>

<script type="text/javascript">
  function confirmarEliminacion() {
      return confirm("¿Estás seguro de que deseas eliminar este transporte? Esta acción no se puede deshacer.");
  }
</script>

{% endblock %}
