{% load django_bootstrap5 %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Título de la barra de navegación -->
        <a class="navbar-brand" href="{% url 'index' %}">Gestor de Tareas</a>

        <!-- Menú principal -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">

                <!-- Mostramos el rol del usuario -->
                {% if request.session.token %}

                    <li class="nav-item text-white">
                        Rol: 
                        <br>
                        {% if request.session.usuario.rol == 1 %}
                            Administrador
                        {% elif request.session.usuario.rol == 2 %}
                            Cliente
                        {% elif request.session.usuario.rol == 3 %}
                            Proveedor
                        {% endif %}
                    </li>

                    <li class="nav-item text-white">
                        Usuario: 
                        <br>
                        {{ request.session.usuario.username }}
                    </li>
                {% endif %}

                <!-- Menús desplegables -->
                {% if request.session.token and request.session.usuario.rol == 1 or request.session.usuario.rol == 3 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'usuarios_lista_api' %}">Lista de usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuario_busqueda_avanzada' %}">Buscar usuarios Avanzado</a></li>

                        {% if request.session.token and request.session.usuario.rol == 1 %}
                            <li><a class="dropdown-item" href="{% url 'usuario_crear' %}">Crear usuario</a></li>
                        {% endif %}    
                    </ul>
                </li>
                {% endif %}


                {% if request.session.token %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReservas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reservas
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.session.token and request.session.usuario.rol == 1 or request.session.usuario.rol == 3 %}
                            <li><a class="dropdown-item" href="{% url 'reservas_lista_api' %}">Lista de reservas</a></li>
                            <li><a class="dropdown-item" href="{% url 'reservasMejoradas_lista_api' %}">Lista de reservas Mejoradas</a></li>
                            <li><a class="dropdown-item" href="{% url 'reserva_busqueda_simple' %}">Buscar reservas</a></li>
                            <li><a class="dropdown-item" href="{% url 'reserva_busqueda_avanzada' %}">Buscar reservas Avanzado</a></li>
                        {% endif %}

                        {% if request.session.token and request.session.usuario.rol == 1 %}
                            <li><a class="dropdown-item" href="{% url 'reserva_crear' %}">Crear reserva</a></li>
                        {% endif %}
                        
                        {% if request.session.token and request.session.usuario.rol == 2 %}
                            <li><a class="dropdown-item" href="{% url 'reserva_crear_usuario' %}">Crear reserva usuario</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_reservas_usuario' %}">Lista de reservas usuario</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDestinos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Destinos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'destinos_lista_api' %}">Lista de destinos</a></li>
                        <li><a class="dropdown-item" href="{% url 'destino_busqueda_avanzada' %}">Buscar destinos Avanzado</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAlojamientos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Alojamientos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'alojamientosMejorados_lista_api' %}">Lista de alojamientos Mejorados</a></li>
                        <li><a class="dropdown-item" href="{% url 'alojamiento_busqueda_avanzada' %}">Buscar alojamientos Avanzado</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComentarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comentarios
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.session.token and request.session.usuario.rol == 1 or request.session.usuario.rol == 3 %}
                            <li><a class="dropdown-item" href="{% url 'comentarios_lista_api' %}">Lista de comentarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'comentario_busqueda_avanzada' %}">Buscar comentarios Avanzado</a></li>
                        {% endif %}

                        {% if request.session.token and request.session.usuario.rol == 2 %}
                            <li><a class="dropdown-item" href="{% url 'comentario_crear_usuario' %}">Crear comentario usuario</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_comentarios_usuario' %}">Lista de comentarios usuario</a></li>
                        {% endif %}
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransportes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Transportes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'transportesMejorados_lista_api' %}">Lista de transportes Mejorados</a></li>

                        {% if request.session.token and request.session.usuario.rol == 1 or request.session.usuario.rol == 3 %}
                            <li><a class="dropdown-item" href="{% url 'transporte_crear' %}">Crear transporte</a></li>
                        {% endif %}
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExtras" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Extras
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'extrasMejorados_lista_api' %}">Lista de extras Mejorados</a></li>

                        {% if request.session.token and request.session.usuario.rol == 1 %}
                            <li><a class="dropdown-item" href="{% url 'extra_crear' %}">Crear extra</a></li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
        </div>

        <!-- Botones de autenticación alineados a la derecha -->
        <div class="d-flex ms-auto">
            {% if request.session.token %}
                <a href="{% url 'logout' %}" class="btn btn-danger me-2">Desconectarse</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
                <a href="{% url 'registrar_usuario' %}" class="btn btn-success">Registrarse</a>
            {% endif %}
        </div>

    </div>
</nav>
