{% extends "principal.html" %}

{% block contenido %}
<h1>Editar Usuario</h1>

<form action="{% url 'usuario_editar' usuario.id %}" method="post">
    {% load django_bootstrap5 %}
    {% csrf_token %}
    
    <div class="mb-4">
        {% bootstrap_field formulario.nombre show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.nombre.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.correo show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.correo.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.telefono show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.telefono.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.edad show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.edad.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.contraseña show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.contraseña.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha_registro show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.fecha_registro.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.imagen show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.imagen.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
</form>
{% endblock %}
