{% extends 'principal.html' %}

{% load static %}

{% block cabecera %}
<h1>ÚLTIMO USUARIO EN COMENTAR</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
    {% for comentario in comentarios_mostrar %}
        <div>
            <h2>Nombre usuario: {{ comentario.usuario.nombre }} </h2>
            <p>Correo: {{ comentario.usuario.correo }}</p>
            <p>Edad: {{ comentario.usuario.edad }}</p>
            <p>Teléfono: {{ comentario.usuario.telefono }}</p>
            <p>Fecha de registro: {{ comentario.usuario.fecha_registro|date:"d-m-Y" }}</p>
            <p>ID del usuario: {{ comentario.usuario.id }}</p>
            <p>Nacionalidad: {{ comentario.usuario.pasaporte.nacionalidad }}</p>

            <h2>Comentario: {{ comentario.contenido }}</h2>
        </div>
    {% endfor %}
{% endblock %}
