<div>
    <h2>Nombre: {{ usuario.nombre|upper }}</h2>
    <p>Correo: {{ usuario.correo }}</p>
    <p>Edad: {{ usuario.edad }}</p>

    {% if usuario.edad < 18 %}
        <p>Usuario menor de edad.</p>
    {% else %}
        <p>Usuario mayor de edad.</p> 
    {% endif %}


    <p>Teléfono: {{ usuario.telefono }}</p>
    <p>Fecha de registro: {{ usuario.fecha_registro|date:"d-m-Y" }}</p>
    <p>ID del usuario: {{ usuario.id }}</p>
    <h4>Usuario #{{ forloop.counter }}</h4>

    <h4>Reservas: <a href="{% url 'listar_reservasUsuario' usuario.id %}"> Pulsa para ver las reservas</a></h4>
    <h4>Comentarios: <a href="{% url 'comentarios_usuario' usuario.id %}"> Pulsa para ver los comentarios</a></h4>

    <div>
        {% if usuario.imagen %}
            <img src="{{ usuario.imagen.url }}" alt="Imagen de {{ usuario.nombre }}" width="100">
        {% else %}
            <span>No hay imagen</span>
        {% endif %}
    </div>


        {% if perms.viajes.actualizar_usuario %}
        <!-- Enlace estilizado como botón para actualizar el usuario -->
        <a href="{% url 'actualizar_usuario' usuario.id %}" class="btn btn-outline-success mt-2 mb-5">Actualizar Usuario</a>
        {% endif %}


        <!-- Formulario para eliminar el usuario con confirmación -->
        {% if perms.viajes.eliminar_usuario %}
        <form method="post" action="{% url 'eliminar_usuario' usuario.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger mt-2 mb-5" 
                onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.');">
                Eliminar Usuario
            </button>
        </form>
        {% endif %}
    </div>

    {% comment %}
        Este bloque de código es solo para mostrar los detalles de la reserva
        y no se mostrará en el HTML renderizado.
    {% endcomment %}
    
</div>
