{% extends "principal.html" %}
{% block contenido %}

<h1 class="display-3">Lista de Usuarios</h1>

<div class="row">
    {% for usuario in usuarios_mostrar %}
        <div class="col-sm-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nombre: {{ usuario.nombre }}</h4>
                    <p class="card-text"><strong>Correo:</strong> {{ usuario.correo }}</p>
                    <p class="card-text"><strong>Edad:</strong> {{ usuario.edad }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
                    <p class="card-text"><strong>Fecha de registro:</strong> {{ usuario.fecha_registro|date:"d-m-Y" }}</p>
                    <p class="card-text"><strong>ID del usuario:</strong> {{ usuario.id }}</p>

                    <!-- Botón para actualizar -->
                    <a href="{% url 'usuario_editar' usuario.id %}" class="btn btn-primary mb-1">Actualizar Usuario</a>

                    <!-- Botón para actualizar nombre -->
                    <a href="{% url 'usuario_actualizar_nombre' usuario.id %}" class="btn btn-warning mb-1">Actualizar Nombre</a>

                    <!-- Formulario para eliminar usuario -->
                    <form action="{% url 'usuario_eliminar' usuario.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" onclick="return confirmarEliminacion();">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay usuarios</h1>
    {% endfor %}
</div>

<script type="text/javascript">
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.");
    }
</script>
{% endblock %}