<!-- destino_form.html -->

{% extends 'principal.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block cabecera %}
<h1>ACTUALIZAR DESTINO</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Actualizar Destino</h2>
    <form action="{% url 'actualizar_destino' destino.id %}" method="post">
    {% csrf_token %}

        <!-- Campo: Nombre -->
        <div class="mb-4">
            {% bootstrap_field form.nombre show_label=True %}
        </div>
        
        <!-- Campo: País -->
        <div class="mb-4">
            {% bootstrap_field form.pais show_label=True %}
        </div>
        
        <!-- Campo: Descripción -->
        <div class="mb-4">
            {% bootstrap_field form.descripcion show_label=True %}
        </div>
        
        <!-- Campo: Popularidad -->
        <div class="mb-4">
            {% bootstrap_field form.popularidad show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Destino</button>
    </form>

</div>
{% endblock %}
