{% extends 'principal.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block cabecera %}
<h1>ACTUALIZAR PROMOCIÓN</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Actualizar Promoción</h2>
    
    <!-- Formulario para actualizar promoción -->
    <form action="{% url 'actualizar_promocion' promocion.id %}" method="post">
        {% csrf_token %}

        <!-- Campo: Nombre -->
        <div class="mb-4">
            {% bootstrap_field form.nombre show_label=True %}
        </div>
        
        <!-- Campo: Descripción -->
        <div class="mb-4">
            {% bootstrap_field form.descripcion show_label=True %}
        </div>
        
        <!-- Campo: Descuento Porcentaje -->
        <div class="mb-4">
            {% bootstrap_field form.descuento_porcentaje show_label=True %}
        </div>

        <!-- Campo: Fecha Inicio -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_inicio show_label=True %}
        </div>

        <!-- Campo: Fecha Fin -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_fin show_label=True %}
        </div>

        <!-- Campo: Activo -->
        <div class="mb-4">
            {% bootstrap_field form.activo show_label=True %}
        </div>

        <!-- Campo: Alojamiento -->
        <div class="mb-4">
            {% bootstrap_field form.alojamiento show_label=True %}
        </div>

        <!-- Campo: Destino -->
        <div class="mb-4">
            {% bootstrap_field form.destino show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Promoción</button>
    </form>
    
</div>
{% endblock %}
