<!-- usuario_form.html -->

{% extends 'principal.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block cabecera %}
<h1>ACTUALIZAR USUARIO</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Actualizar Reserva</h2>
    <form action = "{% url 'actualizar_reserva' reserva.id %}" method="POST">
        {% csrf_token %}

        <!-- Campo: Código de Reserva -->
        <div class="mb-4">
            {% bootstrap_field form.codigo_reserva show_label=True %}
        </div>

        <!-- Campo: Fecha de Salida -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_salida show_label=True %}
        </div>

        <!-- Campo: Fecha de Llegada -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_llegada show_label=True %}
        </div>

        <!-- Campo: Número de Personas -->
        <div class="mb-4">
            {% bootstrap_field form.numero_personas show_label=True %}
        </div>

        <!-- Campo: Precio -->
        <div class="mb-4">
            {% bootstrap_field form.precio show_label=True %}
        </div>

        <!-- Campo: Usuario -->
        <div class="mb-4">
            {% bootstrap_field form.usuario show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Reserva</button>
    </form>
</div>
{% endblock %}
