<!-- usuario_form.html -->

{% extends 'principal.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block cabecera %}
<h1>ACTUALIZAR USUARIO</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Actualizar Usuario</h2>
    <form action = "{% url 'actualizar_usuario' usuario.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campo: Nombre -->
        <div class="mb-4">
            {% bootstrap_field form.nombre show_label=True %}
        </div>
        
        <!-- Campo: Correo -->
        <div class="mb-4">
            {% bootstrap_field form.correo show_label=True %}
        </div>
        
        <!-- Campo: Teléfono -->
        <div class="mb-4">
            {% bootstrap_field form.telefono show_label=True %}
        </div>
        
        <!-- Campo: Edad -->
        <div class="mb-4">
            {% bootstrap_field form.edad show_label=True %}
        </div>
        
        <!-- Campo: Contraseña -->
        <div class="mb-4">
            {% bootstrap_field form.contraseña show_label=True %}
        </div>
        
        <!-- Campo: Fecha de Registro -->
        <div class="mb-4">
            {% bootstrap_field form.fecha_registro show_label=True %}
        </div>

        <!-- Campo: Imagen -->
        <div class="mb-4">
            {% bootstrap_field form.imagen show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
    </form>
</div>
{% endblock %}
