{% extends 'principal.html' %}

{% block contenido %}
{% load django_bootstrap5 %}

    <h1>Buscar Alojamiento</h1>
    <form method="GET" action="{% url 'alojamiento_busqueda' %}">
        {% csrf_token %}

        <!-- Campo de búsqueda por nombre -->
        <div class="mb-4">
            {% bootstrap_field formulario.nombre show_label=True %}
        </div>

        <!-- Campo de búsqueda por tipo -->
        <div class="mb-4">
            {% bootstrap_field formulario.tipo show_label=True %}
        </div>

        <!-- Campo de búsqueda por capacidad -->
        <div class="mb-4">
            {% bootstrap_field formulario.capacidad show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Buscar Alojamiento</button>
    </form>

{% endblock %}
