<!-- destino_form.html -->

{% extends 'principal.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block cabecera %}
<h1>CREAR COMENTARIO</h1>
<img src="{% static 'images/logo.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Crear Comentario</h2>
    <form action = "{% url 'comentario_create' %}" method="post">
        {% csrf_token %}

        <!-- Campo: Titulo -->
        <div class="mb-4">
            {% bootstrap_field form.titulo show_label=True %}
        </div>
        
        <!-- Campo: Contenido -->
        <div class="mb-4">
            {% bootstrap_field form.contenido show_label=True %}
        </div>
        
        <!-- Campo: Calificación -->
        <div class="mb-4">
            {% bootstrap_field form.calificacion show_label=True %}
        </div>

        <!-- Campo: Usuario -->        
        <div class="mb-4">
            {% bootstrap_field form.usuario show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Crear Comentario</button>
    </form>
</div>
{% endblock %}
