{% extends 'principal.html' %}

{% block contenido %}
{% load django_bootstrap5 %}

<h1>Buscar Destinos</h1>

<form method="GET" action="{% url 'destino_busqueda' %}">
    {% csrf_token %}
    
    <!-- Campo de búsqueda por nombre -->
    <div class="mb-4">
        {% bootstrap_field formulario.nombre show_label=True %}
    </div>

    <!-- Campo de búsqueda por país -->
    <div class="mb-4">
        {% bootstrap_field formulario.pais show_label=True %}
    </div>

    <!-- Campo de búsqueda por popularidad mínima -->
    <div class="mb-4">
        {% bootstrap_field formulario.popularidad show_label=True %}
    </div>

    <button type="submit" class="btn btn-primary">Buscar Destino</button>
</form>
{% endblock %}
