{% extends 'principal.html' %}

{% block contenido %}
{% load django_bootstrap5 %}

    <h1>Buscar Reservas</h1>
    
    <form method="GET" action="{% url 'reserva_busqueda' %}">
        {% csrf_token %}
        
        <!-- Campo de búsqueda por codigo_reserva de reserva -->
        <div class="mb-4">
            {% bootstrap_field formulario.codigo_reserva show_label=True %}
        </div>

        <!-- Campo de búsqueda por fecha de reserva -->
        <div class="mb-4">
            {% bootstrap_field formulario.fecha show_label=True %}
        </div>

        <!-- Campo de búsqueda por numero de personas de la reserva -->
        <div class="mb-4">
            {% bootstrap_field formulario.numero_personas show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Buscar Reserva</button>
    
    </form>
{% endblock %}
