{% extends "principal.html" %}

{% block contenido %}
{% load django_bootstrap5 %}

    <form action="{% url 'usuario_busqueda' %}" method="GET" enctype="multipart/form-data">
        
        {% csrf_token %}
        
        <!-- Campo de búsqueda por nombre -->
        <div class="mb-4">
            {% bootstrap_field formulario.nombre show_label=True %}
        </div>

        <!-- Campo de búsqueda por correo -->
        <div class="mb-4">
            {% bootstrap_field formulario.correo show_label=True %}
        </div>

        <!-- Campo de edad -->
        <div class="mb-4">
            {% bootstrap_field formulario.edad show_label=True %}
        </div>

        <button type="submit" class="btn btn-primary">Buscar Usuario</button>
        
    </form>

{% endblock %}
