{% extends "principal.html" %}

{% block contenido %}
<h1>Editar Extra</h1>

<form action="{% url 'extra_editar' extra.id %}" method="post">
    {% load django_bootstrap5 %}
    {% csrf_token %}
    
    <div class="mb-4">
        {% bootstrap_field formulario.nombre show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.nombre.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.tipo show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.tipo.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.descripcion show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.descripcion.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.precio show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.precio.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.reserva show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.reserva.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Extra</button>
</form>
{% endblock %}
