{% extends "principal.html" %}

{% block contenido %}
<h1>Formulario de Extra</h1>

<form action="{% url 'extra_crear' %}" method="post" enctype="multipart/form-data">
    {% load django_bootstrap5 %}
    {% csrf_token %}  <!-- Esto es para proteger el formulario contra CSRF -->
    
    <div class="mb-4">
        {% bootstrap_field formulario.nombre show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.nombre.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.tipo show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.tipo.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.descripcion show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.descripcion.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.precio show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.precio.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.reserva show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.reserva.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
